{{ partial "header.html" . }}

<h1>{{ .Title }}</h1>

{{ .Content }}

{{ $data := "" }}
<!--{{ $url := "https://repository.library.brown.edu/api/collections/bdr:88np2gke" }}-->
{{ $url := "https://repository.library.brown.edu/api/search/?q=rel_is_member_of_collection_ssim:%22bdr:88np2gke%22%20AND%20timestamp:%5B2024-07-12T19:36:09.252Z%20TO%202024-07-12T20:36:09.252Z%5D&fl=pid,timestamp&sort=timestamp+asc" }}
{{ with resources.GetRemote $url }}
  {{ with .Err }}
    {{ errorf "%s" . }}
  {{ else }}
    {{ $data = . | transform.Unmarshal }}
<dl>
{{ range $artifacts := $data.response.docs }}
  <dt>{{ $artifacts.timestamp }}</dt>
  <dd><a href='https://repository.library.brown.edu/studio/item/{{ $artifacts.pid }}'><img src="https://repository.library.brown.edu/iiif/image/{{$artifacts.pid}}/full/!360,360/0/default.jpg" /></a></dd>
{{ end }}
</dl>

  {{ end }}

{{ else }}
  {{ errorf "Unable to get remote resource %q " $url }}
{{ end }}

{{ partial "footer.html" . }}
