{{ partial "header.html" . }}

<h1>{{ .Title }}</h1>

{{ .Content }}

<div class="mirador" id="my-mirador"/>

<script type="text/javascript">
var mirador = Mirador.viewer({
  "id": "my-mirador",
  "manifests": {
    "https://repository.library.brown.edu/iiif/presentation/{{ .Params.pid }}/manifest.json": {
      "provider": "Brown University Library"
    }
  },
  "windows": [
    {
      "loadedManifest": "https://repository.library.brown.edu/iiif/presentation/{{ .Params.pid }}/manifest.json",
      "canvasIndex": 2,
      "thumbnailNavigationPosition": 'far-bottom'
    }
  ]
});
</script>

{{ partial "footer.html" . }}
