:root {
    --main-color: #a3bc7e;
    --ink: #1c1813;
    --accent: #d99c91;
    --bright: #c75037;
}

/* LAYOUT */

body {
    color: var(--ink);
    font-size: 125%;
    line-height: 1.5;
    /*max-width: 45rem;
  padding: 1rem;*/
    margin: 0 auto;
}

.content {
    margin: 0 auto 2rem auto;
    max-width: 45rem;
}

/* NAVIGATION */
.site-nav {
    background-color: var(--main-color);
    margin: 0 auto;
}
.site-nav h1 {
    text-align: center;
    margin-top: 0;
}
.site-nav a {
    display: block;
    padding: 1rem;
    color: var(--ink);
    text-decoration: none;
}

.site-nav .logo {
    font-weight: bold;
    padding-left: 0;
}

.main-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    justify-content: center;
}

@media screen and (max-width: 45rem) {
    .site-nav,
    .main-menu {
        flex-direction: column;
    }

    .site-nav a {
        padding: 0.5rem;
        padding-left: 0;
    }
}

/* LISTS */

.post-snippet {
    margin-bottom: 1rem;
}

.post-snippet h3 {
    margin-bottom: 0.25rem;
}

/* FOOTER */
footer {
    background-color: var(--main-color);
    padding: 0.25rem 0;
    text-align: center;
}

/* TYPE */
.content {
    a,
    a:link,
    a:visited {
        color: var(--bright);
        text-decoration: none;
        border-bottom: solid 1px var(--bright);
        transition: all 0.25s;
    }
    a:hover,
    a:active {
        color: var(--accent);
        border-block-color: var(--accent);
    }
    blockquote {
        border-left: solid 5px var(--bright);
        margin-left: 0;
        padding-left: 2rem;
    }
    image-compare {
        border: solid 0.75rem var(--main-color);
    }
    .mirador {
        position: relative;
        height: 60vh;
        @media screen and (min-width: 45rem) {
            max-width: 100vw;
            margin: 0 -40%;
        }
        border: solid 1rem var(--main-color);
    }
}

/* MAP */
.leaflet-popup-content ul {
    padding-left: 1em;
}
