{{ partial "header.html" . }}

<h1>{{ .Title }}</h1>

{{ .Content }}

  {{ $data := dict }}
  {{ $url := "https://repository.library.brown.edu/api/collections/bdr:88np2gke" }}
  {{ with try (resources.GetRemote $url) }}
    {{ with .Err }}
      {{ errorf "%s" . }}
    {{ else with .Value }}
      {{ $data = . | transform.Unmarshal }}
       <ul>
      {{ range $artifacts := $data.items.docs }}
        <li>
          <a href='{{ $artifacts.uri }}'>
            {{ $artifacts.primary_title }}
          </a>
          <p>{{ $artifacts.abstract }} </p>
          <a href='{{ $artifacts.uri }}'><img src="https://repository.library.brown.edu/iiif/image/{{$artifacts.pid}}/full/!360,360/0/default.jpg" loading="lazy" /></a>
          <!--<p><a href="https://repository.library.brown.edu/viewers/mirador/{{ $artifacts.pid }}">View at the BDR</a></p>-->
        </li>
      {{ end }}
      </ul>
    {{ end }}
  {{ else }}
    {{ errorf "Unable to get remote resource %q " $url }}
  {{ end }}

{{ partial "footer.html" . }}
