<div id="map"></div>
<script>
let map = L.map('map', {
    minZoom: 5,
    //attributionControl: false,
    zoomControl: true,
}).setView([29.9415, 31.1449], 11);
const basemaps = {
    Topo: L.tileLayer('https://{s}.tile.opentopomap.org/{z}/{x}/{y}.png', {
        attribution: 'Map data: &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, <a href="http://viewfinderpanoramas.org">SRTM</a> | Map style: &copy; <a href="https://opentopomap.org">OpenTopoMap</a> (<a href="https://creativecommons.org/licenses/by-sa/3.0/">CC-BY-SA</a>)'
    }),
    Outdoors: L.tileLayer('https://tiles.stadiamaps.com/tiles/outdoors/{z}/{x}/{y}{r}.{ext}', {
        attribution: '&copy; <a href="https://www.stadiamaps.com/" target="_blank">Stadia Maps</a> &copy; <a href="https://openmaptiles.org/" target="_blank">OpenMapTiles</a> &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
        ext: 'png'
    }),
    Terrain: L.tileLayer('https://tiles.stadiamaps.com/tiles/stamen_terrain/{z}/{x}/{y}{r}.{ext}', {
        attribution: '&copy; <a href="https://www.stadiamaps.com/" target="_blank">Stadia Maps</a> &copy; <a href="https://www.stamen.com/" target="_blank">Stamen Design</a> &copy; <a href="https://openmaptiles.org/" target="_blank">OpenMapTiles</a> &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
        ext: 'png'
    }),
    Satellite: L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
        attribution: 'Tiles &copy; Esri &mdash; Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community'
    })
};
basemaps.Satellite.addTo(map);

let gizaBounds = [
[29.9070611, 31.1729777],
[29.953398, 31.2082994],
[30.0149837, 31.1033762],
[29.9559353, 31.0795888]
];
let bdroverlay = L.imageOverlay("/804/warped.png",[gizaBounds], {opacity:0.75, interactive: true});

let rect = L.polygon(gizaBounds, {fillOpacity: 0, color: "red"});
let laurel = L.layerGroup([rect, bdroverlay]);

// establish the overlays
let overlayMaps = {
    "Giza pyramids": laurel
};

// Allow user to choose what overlays to display
const layerControl = L.control.layers(basemaps, overlayMaps, { collapsed: false, position: 'topright' }).addTo(map);

// Provide coordinates of mouse
let c = new L.Control.Coordinates({position:'topright'});

c.addTo(map);

map.on('click', function(a) {
    c.setCoordinates(e);
});
rect.on('click', function(b) {
    event.preventDefault(); //to avoid changes the current page url
        window.open('https://repository.library.brown.edu/viewers/mirador/bdr:6cnew3p2/');//the behavior is defined by the browser and user options
        return false;// prevents the default action associated with the event

});
</script>
