</main>
	
<footer>
	<p>&copy;{{ dateFormat "2006" now }} {{ .Site.Title }}</p>
	<p>Brown University created these images from declassified, publicly available U-2 photographs Brown researchers requested and accessed through the National Archives and Records Administration. To view our full user rights statement, or to request permission to use the images for uses other than personal or education uses, please <a href="/about/contact">visit our contact page</a>.</p></p>
</footer>

</body>
</html>
